/**
* ! changing default styles of the browser
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/**
* ! Navbar styles are here 
**/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2a9d8f;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart {
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}

.cartAmount {
    font-size: 16px;
    background-color: red;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: -15px;
    right: -6px;
    padding: 3px;
}

.navlist {
    font-size: 20px;
    padding: 10px;
}

ul {
    list-style-type: none;

}

li {
    float: left;
}

li a {
    padding: 3px;
    color: white;
    padding: 6px;
    text-decoration: none;
}

.navlist :hover {
    background-color: rgb(14, 82, 65);
}

.nav-cart {
    display: flex;
    align-items: center;
}

/* 
! shop iteam style are here 
*/

.shop {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    justify-content: center;
    grid-gap: 30px;
}

@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 220px);
    }
}

@media (max-width:500px) {
    .shop {
        grid-template-columns: repeat(1, 220px);
    }
}

.iteam {
    display: flex;
    flex-direction: column;
    border: 2px solid #2a9d8f;
    border-radius: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}